@model ComorgApp.Models.BroadcastViewModel;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12" id="accordion">
        <div class="card mb-3">
            @*Broadcast Create Button*@
            <div class="card-body">
                <button class="btn btn-primary" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Make a broadcast
                </button>
                
                @*Broadcast Create Form*@
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <form asp-action="Create" method="POST">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Broadcast.Subject" class="control-label"></label>
                            <input asp-for="Broadcast.Subject" class="form-control" />
                            <span asp-validation-for="Broadcast.Subject" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Broadcast.Content" class="control-label"></label>
                            <textarea id="broadcastCreationTextarea" asp-for="Broadcast.Content" class="form-control"> </textarea>
                            <span asp-validation-for="Broadcast.Content" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Broadcast.IsPublished" /> Publish immediately
                            </label>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>                              
        </div>
        <div class="card mb-3">
            <div class="card-header">
                Broadcasts
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Subject</th>
                            <th>Created At</th>
                            <th>Last Modified</th>
                            <th>Published?</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.Broadcasts) {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Subject)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Created)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastModified)
                            </td>
                            @if (item.IsPublished)
                            {
                                <td>Yes</td>
                            } else
                            {
                                <td>No</td>
                            }
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Remove</a> |
                                @if(item.IsPublished)
                                {
                                    <a asp-action="Unpublish" asp-route-id="@item.Id">Unpublish</a>
                                } else
                                {
                                    <a asp-action="Publish" asp-route-id="@item.Id">Publish</a>
                                }
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    tinymce.init({
      selector: '#broadcastCreationTextarea',
      height: 400,
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}