@model IEnumerable<ComorgApp.Entities.Folder>

@{
    ViewData["Title"] = "Documents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5>Documentation</h5>

<div class="card">
    @*TODO: Add Folder Up button to header*@
@*    <div class="card-header">
        @if (Model.Any() && Model.FirstOrDefault() != null)
        {
            <a class="btn btn-info" asp-controller="Folders" asp-action="SubFolders" 
                                    asp-route-id="@Model.FirstOrDefault().ParentFolder.ParentFolderId">
                <i class="bi bi-arrow-90deg-up"></i>
            </a>
        }
    </div> *@
    <div class="card-body">
    @if (Model.Any())
    {
        <table class="table table-sm table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentFolder)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a class="btn btn-outline-info" asp-controller="Folders" asp-action="SubFolders" asp-route-id="@item.Id">
                    <span><i class="bi bi-folder"></i></span>
                    @Html.DisplayFor(modelItem => item.Name)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentFolder.Name)
            </td>
        </tr>
}
    </tbody>
            </table>

        }else
        {
            <p>No element here...</p>
        }

    </div>
</div>