@model ComorgApp.Models.FolderDocumentViewModel

@{
    ViewData["Title"] = "Documents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5>Documentation</h5>

<div class="card">
    <div class="card-header">
    </div>
    <div class="card-body">
    @if (Model.Folders.Any())
    {
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>Description</th>
                    <th>
                        Creation Time
                    </th>
                    <th>
                        Last Modification Time
                    </th>
                    <th>
                        Parent Folder
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Folders) {
                <tr>
                    <td>
                        <a class="btn btn-block text-left btn-outline-info" asp-controller="Folders" asp-action="SubFoldersAndDocuments" asp-route-id="@item.Id">
                            <span><i class="bi bi-folder-fill" style="font-size:1.25rem;"></i></span>
                            @Html.DisplayFor(modelItem => item.Name)
                        </a>
                    </td>
                    <td></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastModified)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ParentFolder.Name)
                    </td>
                </tr>
            }
            @if (Model.Documents != null)
            {
                @foreach (var document in Model.Documents)
                {
                    <tr>
                        <td>
                            <a href="#" >
                                <span><i style="font-size: 1.25rem;" class="bi bi-file-@Html.Raw(document.Extension)-fill"></i></span>
                                @document.Name
                            </a>
                        </td>
                        <td>@document.Description</td>
                        <td>@document.Created</td>
                        <td>@document.LastUpdated</td>
                        <td>@document.Folder.Name</td>
                    </tr>           
                }           
            }
            </tbody>
        </table>
    }else
    {
        <p>No element here...</p>
    }
    </div>
</div>