@model IEnumerable<
    ComorgApp.Entities.Participant>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card border-light" id="participantTable">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <h4 class="text-info">Participants</h4>
            <a class="btn btn-info" asp-action="Create">+ New</a>
        </div>
    </div>
    <div class="card-body scroll">
        <table class="table table-hover table-sm table-responsive-sm">
            <thead>
                <tr>
                    <th>
                        Participant Code
                    </th>
                    <th>
                        Participant Name
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

<script>
    $(document).ready(function(){
        $('#participantTable').hover(function() {
            $(this).removeClass('shadow-sm');
        }, function(){
            $(this).addClass('shadow-sm');
        });
    });
</script>
